<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aye.jpmmlistening">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />s
            </intent-filter>
        </activity>
        <activity
            android:name=".DownloadActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ModeChoiceActivity"
            android:label="JpMmListening"></activity>
        <activity
            android:name=".ListeningModeActivity"
            android:label="JpMmListening"></activity>
        <activity android:name=".QuizzModeActivity"
            android:label="JpMmListening"></activity>
        <activity android:name=".RepatingActivity"
            android:label="JpMmListening"/>
        <activity android:name=".AnsQueActivity"
            android:label="JpMmListening"></activity>
        <activity android:name=".JapanActivity"
            android:label="JpMmListening"></activity>
        <activity android:name=".RepeatLanguaeActivity"
            android:label="JpMmListening"></activity>
        <activity android:name=".ShadoActivity"
            android:label="JpMmListening"></activity>
        <activity android:name=".PlayQuizActivity"
            android:label="JpMmListening"></activity>
    </application>

</manifest>